@page "/"
@using BlazordemoApp1.Data
@inject FlightPlanService flightPlanService


    <div>
        <h1>Make Your Flight Simulation</h1>
    </div>
<div class="flight-page">
    <div class="add_plans">
        <h3>Add Flight Plan</h3>
        <label for="course">Course:</label>
        <input type="text" id="course" placeholder="Название курса" required @bind="@newFlightPlan.Course" />

        <label for="speed">Indicated Air Speed (m/s):</label>
        <input type="number" id="speed" step="0.01" required placeholder="Скорость" @bind="@newFlightPlan.IndicatedAirSpeed" />

        <label for="altitude">True Altitude:</label>
        <input type="number" id="altitude" required placeholder="Высота" @bind="@newFlightPlan.TrueAltitude" />
        <div class="btn-add-clear">
            <button type="button" class="examplebtn" @onclick="AddFlightPlan">Add</button>
            <button type="button" class="examplebtn" @onclick="ClearFlightPlans">Clear</button>
        </div>
    </div>

    <hr />

    <h2>Flight Plan List</h2>
    <table class="table-plans">
        <thead>
            <tr class="elements">
                <th class="element">Course</th>
                <th class="element">Indicated Air Speed (m/s)</th>
                <th class="element">True Altitude</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flightPlan in flightPlans)
            {
                @if (flightPlans == null)
                {
                   <tr><td>Loading...</td></tr>
                }
                <tr class="stage-elements">
                    <td class="stage-element">@flightPlan.Course</td>
                    <td class ="stage-element">@flightPlan.IndicatedAirSpeed</td>
                    <td class="stage-element">@flightPlan.TrueAltitude</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {
    private List<FlightPlan> flightPlans;

    private FlightPlan newFlightPlan = new FlightPlan();

    protected override void OnInitialized()
    {
        flightPlans = flightPlanService.GetAllFlightPlans();
    }

    private void ClearFlightPlans()
    {
        flightPlans.Clear();
    }

    private void AddFlightPlan()
    {
        flightPlanService.AddFlightPlan(newFlightPlan);
        newFlightPlan = new FlightPlan();
        flightPlans = flightPlanService.GetAllFlightPlans();
    }
}
